joblib==1.1.0
mypy-extensions==0.4.3
numpy==1.22.3
packaging==21.3
pandas==1.4.2
pandera==0.10.1
pyarrow==7.0.0
pydantic==1.9.0
pyparsing==3.0.8
python-dateutil==2.8.2
pytz==2022.1
scikit-learn==1.0.2
scipy==1.8.0
-e git+https://github.com/chadlis/servier.git@8f169bb4a55ad5776de75831b59ee1fd781ac9fa#egg=servier
six==1.16.0
threadpoolctl==3.1.0
typing-inspect==0.7.1
typing_extensions==4.1.1
wrapt==1.14.0
